.benefits {
  padding-bottom: 0;
}

.benefits__title {
  margin-bottom: 10px;
  color: var(--common-title-color);
  font-weight: 700;
  font-size: var(--primary-font-size);
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits__item {
  width: 270px;
}

.benefits__icon {
  background-color: var(--secondary-white-color);
  height: 120px;
  margin-bottom: 30px;

  & > .icon {
    fill: var(--common-title-color);
  }
}
