.logo {
  font-size: var(--logo-font-size);
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.19;
}

.logo > span {
  color: var(--primary-black-color);
}

.logo.link {
  color: var(--accent-color);
}
