:root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-black-color: #000000;
  --primary-white-color: #ffffff;
  --hero-bg-color: #2f303a;
  --secondary-white-color: #f5f4fa;
  --common-title-color: #212121;
  --header-border-color: #ececec;
  --works-border-color: #eeeeee;
  --footer-color: #2f303a;
  --svg-social-color: #afb1b8;
  --svg-footer-color: rgba(255, 255, 255, 0.1);
  --footer-hyperlink-color: rgba(255, 255, 255, 0.6);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --logo-font-size: 26px;
  --primary-font-size: 14px;
  --portfolio-font-size: 16px;
  --first-title-size: 44px;
  --secondary-title-size: 36px;
  --portfolio-title-size: 18px;
  --title-line-height: 1.17;
}
